.nav-container {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    background-color: white;
    box-shadow: 0px 2px 5px #b3acac;
    position: fixed;
    top:0;
    z-index: 99;
    width: 100%;
}

.logo img {
    width: 9rem;
}

.nav-category ul{
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-between;
    margin-bottom: 0;
}

.nav-category ul a{
    font-weight: 700;
    opacity: .9;
    color: black;
}

.nav-category ul li{
    list-style: none;
}

.nav-search .search-bar{
    width:30vw;
}

.nav-search .search-bar input{
    width: 100%;
    /* padding: 0 0 0 .5vw; */
    font-size: 1rem;
    border: none;
    background-color: #F5F5F6;
    border-radius: .2rem;
    padding: .5rem .5vw;
}

.bg-danger{
    background-color: #ff3e6c !important;
}

.navbar-cart-icon{
    font-size: 1.5rem;
}



.search-bar input {
    outline: none; 
    transition: border-color 0.3s; 
}

.search-bar input:focus {
    border: .5px solid rgb(136, 132, 132);
}
